@import "bootstrap";

.jumbotron h1 {
  color: #006699
}

.user-info {
  margin-top: 9px;
}

.nav {
  margin_top: 5px;
}

.alert {
  margin_top: 5px;
}

::-webkit-input-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}
